<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="KJ Villa Reservation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ClientUpdateWithSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ClientInquiryActivity"
            android:exported="false" />
        <activity
            android:name=".ClientInquiryiesActivity"
            android:exported="false" />
        <activity
            android:name=".RoomUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".RoomCreateActivity"
            android:exported="false" />
        <activity
            android:name=".RoomTypeUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".RoomTypeCreateActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeRegActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ReceptionistHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="true" />
        <!--
        <activity
            android:name=".ClientUpdateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ClientHomeActivity"
            android:exported="true" />
        <activity
            android:name=".ClientRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".ClientUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>